#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.read-the-docs {
  color: #888;
  position:relative;
  bottom: 5%;
  left: 0;
  right: 0;
}

.desc {
  color: #888;
}
