#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100%;
}

.read-the-docs {
  color: #888;
  margin-bottom: 20px;
  margin-top: 20px;
}

.desc {
  color: #888;
  padding-bottom: 16px;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  justify-content: center;
  align-content: center;
  align-items: center;
}

main {
  flex: 1;
  padding: 20px;
  justify-content: center;
  align-content: center;
}

.hidden {
  display: none;
}

.plot {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;    /* Centra verticalmente */
  height: 78vh; 
}



